{% if pager.pageCount %}
<div class="pagination">
    {% if pager.previous is defined %}
    <a class="previous" href="{{ url }}?page={{ pager.previous }}">{{ "Previous"|trans }}</a>
    {% else %}
    <span class="previous">{{ "Previous"|trans }}</span>
    {% endif %}|
    {% for page in pager.pagesInRange %}
        {% if page == pager.current %}
            <span class="current">{{ page }}</span>
        {% else %}
            <a href="{{ url }}?page={{ page }}">{{ page }}</a>
        {% endif %} |
    {% endfor %}
    {% if pager.next is defined %}
    <a class="next" href="{{ url }}?page={{ pager.next }}">{{ "Next"|trans }}</a>
    {% else %}
    <span class="next">{{ "Next"|trans }}</span>
    {% endif %}
</div>
{% endif %}
