<div class="sidebar">
    <a href="{{ path("ornicar_message_message_new") }}" class="goto_compose">{{ "Compose message"|trans }}</a>
    <a href="{{ path("ornicar_message_message_list") }}" class="goto_inbox">{{ "Inbox"|trans }}</a>
    <a href="{{ path("ornicar_message_message_sent") }}" class="goto_sent">{{ "Sent messages"|trans }}</a>
</div>
