<div>
    <a href="{{ path("ornicar_message_message_new") }}" >{{ "Compose message"|trans }}</a>
    <a href="{{ path("ornicar_message_message_list") }}" >{{ "Inbox"|trans }}</a>
    <a href="{{ path("ornicar_message_message_sent") }}" >{{ "Sent messages"|trans }}</a>
</div>
