{% extends "MessageBundle::container.twig" %}
{% block content %}
<div class="message_list">
    <div class="head">
        {% include "MessageBundle::pagination.twig" with {"pager": messages.pages} %}
        <h1>{% trans "Inbox" %}</h1>
    </div>
    {% include "MessageBundle::sidebar.twig" %}
    <div class="center list">
        {% for message in messages %}
            <div class="message {{ message.isRead ? "read" : "unread" }}">
                <span class="infos">
                    <a class="user" href="{{ url('fos_user_user_show', {"username": message.from.username}) }}">{{ message.from }}</a>
                    sent you a message {{ ago(message.createdAt)|raw }}
                </span>
                <span class="actions">
                    {% if not message.isRead %}
                        <a class="mark_as_read" href="{{ url('ornicar_message_message_read', {"id": message.id}) }}">Mark as read</a>
                    {% endif %}
                </span>
                <a class="subject" href="{{ url('ornicar_message_message_show', {"id": message.id}) }}">{{ message.subject }}</a>
            </div>
        {% else %}
            <div class="no_messages">No messages yet</div>
        {% endfor %}
    </div>
    <div class="foot">
        {% include "MessageBundle::pagination.twig" with {"pager": messages.pages} %}
    </div>
</div>
{% endblock %}
