{% extends "MessageBundle::container.twig" %}
{% block content %}
<div class="message_new">
    <h1>{% trans "Compose message" %}</h1>
    {% include "MessageBundle::sidebar.twig" %}
    <div class="center form">
        <form action="{{ url("ornicar_message_message_create") }}" method="post">
            <div class="field_to">
                {{ form.to|render_label('To:') }}
                {{ form.to|render }}
                {{ form.to|render_errors }}
            </div>
            <div class="field_subject">
                {{ form.subject|render_label('Subject:') }}
                {{ form.subject|render }}
                {{ form.subject|render_errors }}
            </div>
            <div class="field_body">
                {{ form.body|render }}
                {{ form.body|render_errors }}
            </div>
            <div class="actions">
                <input class="send button" type="submit" value="{% trans "Send" %}" />
                <a class="cancel" href="{{ url("ornicar_message_message_list") }}">{% trans "Cancel" %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
