{% block content %}
<table>
    <tr>
        <th>&nbsp;</th>
        <th>{{ "Recipient"|trans }}</th>
        <th>{{ "Subject"|trans }}</th>
        <th>{{ "Sent at"|trans }}</th>
    </tr>
    {% for message in messages %}
    <tr>
        <td>&nbsp;</td>
        <td>
            <a href="{{ path('fos_user_user_show', {'username': message.to.username}) }}">
                {{ message.to }}
            </a>
        </td>
        <td>
            <a href="{{ path('ornicar_message_message_show', {'id': message.id}) }}">
                {{ message.subject }}
            </a>
        </td>
        <td>
            {{ message.createdAt|date("F d, Y") }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}