{% block content %}
    <h2>{{ message.subject }}</h2>
    <hr />
    <span>
        {% if message.from == app.user %}
            {{ "Recipient"|trans }}:
            <a href="{{ path('fos_user_user_show', {'username': message.to.username}) }}">{{ message.to }}</a>
        {% else %}
            {{ "From"|trans }}:
            <a href="{{ path('fos_user_user_show', {'username': message.from.username}) }}">{{ message.from }}</a>
        {% endif %}
        -
        {{ message.createdAt|date("F d, Y") }}
    </span>
    <p>
        {{ message.body }}
    </p>
    {% if form %}
        <div>
            {{ "Reply"|trans }}
            <form action="{{ path("ornicar_message_message_create") }}" method="post">
                {{ form_widget(form) }}
                <input type="submit" value="{{ "Send"|trans }}" />
                <a href="{{ path("ornicar_message_message_list") }}">{{ "Cancel"|trans }}</a>
            </form>
        </div>
    {% endif %}
{% endblock %}
