{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<h2>{{ thread.subject }}</h2>

{% for message in thread.messages %}
    <div class="panel panel-default" id="message_{{ message.id }}">
        <div class="panel-heading">
            {% trans with {'%sender%': message.sender|e} from 'FOSMessageBundle' %}by{% endtrans %} {% trans with {'%date%': message.createdAt|date} from 'FOSMessageBundle' %}on{% endtrans %}
        </div>

        <div class="panel-body">
            {{ message.body }}
        </div>
    </div>
{% endfor %}

<h3>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h3>

<form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
    {{ form_widget(form) }}

    <input type="submit" />
</form>

{% endblock %}
