<table>

    <thead>
        <tr>
            <th>{% trans from 'OrnicarMessageBundle' %}ornicar_message_subject{% endtrans %}</th>
            <th>{% trans from 'OrnicarMessageBundle' %}ornicar_message_starter{% endtrans %}</th>
            <th>{% trans from 'OrnicarMessageBundle' %}ornicar_message_startdate{% endtrans %}</th>
            <th>{% trans from 'OrnicarMessageBundle' %}ornicar_message_messages{% endtrans %}</th>
            <th>{% trans from 'OrnicarMessageBundle' %}ornicar_message_last_message{% endtrans %}</th>
            <th>{% trans from 'OrnicarMessageBundle' %}ornicar_message_actions{% endtrans %}</th>
        </tr>
    </thead>

    <tbody>

    {% if threads %}
        {% for thread in threads %}
            <tr>
                <td>
                    <a href="{{ url('ornicar_message_thread_view', {'threadId': thread.id}) }}">
                        {{ thread.subject }}
                    </a>

                    {% if not ornicar_message_is_read(thread) %}
                        ({% trans from 'OrnicarMessageBundle' %}ornicar_message_new{% endtrans %})
                    {% endif %}
                </td>
                <td>
                    {{ thread.createdBy }}
                </td>
                <td>
                    {{ thread.createdAt|date }}
                </td>
                <td>
                    {{ thread.messages|length }}
                </td>
                <td>
                    {% if thread.lastMessage %}
                        <a href="{{ url('ornicar_message_thread_view', {'threadId': thread.id}) }}#message_{{ thread.lastMessage.id }}" title="{% trans from 'OrnicarMessageBundle' %}ornicar_message_goto_last{% endtrans %}">
                            →
                        </a>
                        {% trans from 'OrnicarMessageBundle' %}ornicar_message_on{% endtrans %} {{ thread.lastMessage.createdAt|date }}
                        <br />
                        {% trans from 'OrnicarMessageBundle' %}ornicar_message_by{% endtrans %} {{ thread.lastMessage.sender }}
                    {% else %}
                        ----
                    {% endif %}
                </td>
                <td>
                    <form action="{{ url('ornicar_message_thread_delete', {'threadId': thread.id}) }}" method="post">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4">
                {% trans from 'OrnicarMessageBundle' %}ornicar_message_no_thread{% endtrans %}.
            </td>
        </tr>
    {% endif %}

    </tbody>

</table>
